:root {
    --background--red-secondary: #ffdbdb;
    --background--red-primary: #ff1f1f;
    --background--white: #ffffff;
    --border-radius--slider: 40px;
    --border--handle: 1px solid #404040;
}

.ReactSlider {
    width: 300px;
    position: relative;
}

.ReactSlider__slider {
    height: 10px;
    border-radius: 40px;
    background-color: var(--background--red-secondary);
}

.ReactSlider__nodeContainer {
    display: flex;
    position: absolute;
    width: 100%;
}

.ReactSlider__node {
    flex: 2;
    background-color: blue;
    height: 100px;
    border: solid 1px green;
}

.ReactSlider__node:first-of-type, .ReactSlider__node:last-of-type {
    flex: 1;
}

.ReactSlider__node--active {

}

.ReactSlider__active {
    height: 100%;
    border-radius: var(--border-radius--slider);
    background-color: var(--background--red-primary);
    position: relative;
}

.ReactSlider__handle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: var(--background--white);
    border: var(--border--handle);
    cursor: pointer;
}